@import url("../css/fonts.css");
/*

0 - 600px     Phone
600 - 900px   Tablet Portrait
900 - 1200px  Tablet Landscape
[1200 - 1800] - normal styles 
1800px+       Big Desktop
*/
/*
$breakpoint choices:
-  phone
-  tab-port
-  tab-land
-  big-desktop
*/
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    opacity: 0; }
  25% {
    -webkit-transform: scale(1.2);
    opacity: 0.1; }
  50% {
    -webkit-transform: scale(1.4);
    opacity: 0.3; }
  75% {
    -webkit-transform: scale(1.5);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1.7);
    opacity: 0; } }
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    opacity: 0; }
  25% {
    -webkit-transform: scale(1.2);
    opacity: 0.1; }
  50% {
    -webkit-transform: scale(1.4);
    opacity: 0.3; }
  75% {
    -webkit-transform: scale(1.5);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1.7);
    opacity: 0; } }

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  border: transparent; }

html {
  font-size: 62.5% !important; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25% !important; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50% !important; } }
  @media (min-width: 1800px) {
    html {
      font-size: 60% !important; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 36.25% !important; } }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

::-webkit-scrollbar {
  display: none; }

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 700;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  @supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
    .overlay {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .overlay.show {
    visibility: visible;
    opacity: 1; }

body {
  font-family: "metropolis-medium", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #fff; }

html {
  font-size: 62.5%; }

.primary-heading {
  position: absolute;
  top: 30%;
  left: 20%;
  max-width: 80rem;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

.primary-heading-top {
  font-family: "domine-bold", sans-serif;
  font-size: 8.8rem;
  font-weight: 400;
  line-height: 1.2;
  display: inline-block; }
  @media (max-width: 37.5em) {
    .primary-heading-top {
      font-size: 6.8rem;
      margin-bottom: 2rem; } }

.primary-heading-bottom {
  font-family: "metropolis-light", sans-serif;
  font-size: 3.8rem;
  font-weight: 300;
  padding-left: 10rem;
  display: block;
  position: relative; }
  @media (max-width: 37.5em) {
    .primary-heading-bottom {
      font-size: 3.2rem;
      padding: 0; } }

.primary-heading-bottom::before {
  content: "";
  display: block;
  width: 6.5rem;
  height: 2px;
  background-color: #ff6347;
  position: absolute;
  left: 6px;
  top: 2.7rem; }
  @media (max-width: 37.5em) {
    .primary-heading-bottom::before {
      display: none; } }

.heading-box {
  padding: 10rem;
  max-width: 100rem;
  text-align: left; }
  .heading-box__span {
    font-size: 2.4rem;
    color: #ff6347;
    letter-spacing: 1px;
    text-align: left; }
  .heading-box__link {
    color: #fff;
    font-weight: 100;
    font-size: 2.6rem;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .heading-box__link:hover {
      color: #ff7730;
      -webkit-transform: rotate(5deg) scale(1.1);
      transform: rotate(5deg) scale(1.1); }

.secondary-heading {
  font-family: "domine-bold", sans-serif;
  font-size: 6rem; }
  @media (max-width: 37.5em) {
    .secondary-heading {
      font-size: 4rem; } }

.contact-mail {
  text-decoration: none;
  font-family: "metropolis-light", sans-serif;
  color: #fff;
  font-size: 6rem;
  font-weight: 100;
  position: relative;
  padding: 2rem 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  @media (max-width: 37.5em) {
    .contact-mail {
      font-size: 3.8rem; } }
  .contact-mail:hover {
    color: #ff7730; }
  .contact-mail::before {
    content: "";
    display: block;
    height: 2px;
    width: 80px;
    background-color: #ff6347;
    position: absolute;
    top: 0;
    left: 0; }

.tertiary-heading {
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: uppercase; }

.paragraph {
  font-family: "metropolis-regular", sans-serif;
  font-size: 2.2rem;
  font-weight: 100;
  text-align: justify; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }

.u-margin-top-large {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.composition {
  margin-top: 50%;
  position: relative;
  padding: 3rem; }
  @media (max-width: 37.5em) {
    .composition {
      margin-top: 0; } }
  @media (max-width: 56.25em) {
    .composition {
      margin-top: 10rem; } }
  @media (max-width: 75em) {
    .composition {
      margin-right: 10rem; } }
  .composition__photo {
    width: 55%;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 10;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    outline-offset: 2rem; }
    @media (max-width: 75em) {
      .composition__photo {
        width: 45%; } }
    @media (max-width: 56.25em) {
      .composition__photo {
        width: 15%; } }
    @media (max-width: 37.5em) {
      .composition__photo {
        width: 45%; } }
    .composition__photo--p1 {
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
      -webkit-filter: grayscale(85%);
      filter: grayscale(85%); }
      @media (max-width: 75em) {
        .composition__photo--p1 {
          right: 40%;
          top: 0; } }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          display: none; } }
    .composition__photo--p2 {
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
      -webkit-filter: grayscale(30%);
      filter: grayscale(30%);
      right: 14rem;
      top: 0; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          right: 40%;
          top: -50%; } }
      @media (max-width: 37.5em) {
        .composition__photo--p2 {
          right: 30%;
          top: 0; } }
    .composition__photo--p3 {
      outline: 1.5rem solid #ff7730;
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
      margin: 0 auto;
      right: 5rem; }
      @media (max-width: 75em) {
        .composition__photo--p3 {
          right: 20%;
          top: 0; } }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          right: 30%;
          top: -50%; } }
      @media (max-width: 37.5em) {
        .composition__photo--p3 {
          right: 20%;
          top: -20%; } }

.gallery__link {
  text-decoration: none;
  outline: none; }

.gallery__img {
  height: 60%;
  width: 33%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  @media (max-width: 37.5em) {
    .gallery__img {
      padding: 0; } }
  .gallery__img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0); }

.menu-bg {
  position: fixed;
  top: 3.4rem;
  right: 8rem;
  width: 6rem;
  height: 6rem;
  background-color: #fff;
  font-size: 1.8rem;
  z-index: 500; }
  @media (max-width: 37.5em) {
    .menu-bg {
      top: 2.4rem;
      width: 5.7rem;
      height: 5.7rem; } }

.menu-btn {
  position: fixed;
  top: 4rem;
  right: 4rem;
  cursor: pointer;
  z-index: 1000;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .menu-btn .btn-line {
    width: 3rem;
    height: 3px;
    background-color: #fff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    @media (max-width: 37.5em) {
      .menu-btn .btn-line {
        width: 4rem;
        height: 3px; } }
    .menu-btn .btn-line:not(:last-child) {
      margin-bottom: 5px; }
  .menu-btn.close {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      -webkit-transform: rotate(45deg) translate(5px, 5px);
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      -webkit-transform: rotate(-45deg) translate(7px, -6px);
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 20%;
  right: 0;
  width: 250px;
  z-index: 800;
  visibility: hidden; }
  @media (max-width: 37.5em) {
    .menu {
      top: 0;
      right: 0; } }
  .menu.show {
    visibility: visible; }
  .menu-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
    height: 50vh;
    margin: 0;
    padding: 0;
    background-color: #141414;
    list-style: none;
    -webkit-transform: translateX(60rem);
    transform: translateX(60rem);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-shadow: -1rem 0rem 6rem rgba(0, 0, 0, 0.4);
    box-shadow: -1rem 0rem 6rem rgba(0, 0, 0, 0.4);
    z-index: 2000;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    @media (max-width: 75em) {
      .menu-nav {
        width: 250px; } }
    @media (max-width: 56.25em) {
      .menu-nav {
        width: 250px; } }
    @media (max-width: 37.5em) {
      .menu-nav {
        height: 100vh;
        width: 250px; } }
    .menu-nav.show {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
  .menu .nav-item {
    -webkit-transform: translate3d(0, 600, 0);
    transform: translate3d(0, 600, 0);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .menu .nav-item:not(:last-child) {
      border-bottom: 1px solid #29323c;
      margin-bottom: 2rem;
      padding-bottom: 2rem; }
    .menu .nav-item.show {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #55c57a; }
  .menu .nav-link {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 3rem;
    color: #fff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    @media (max-width: 37.5em) {
      .menu .nav-link {
        font-size: 3.4rem; } }
    .menu .nav-link:hover {
      color: #ff7730;
      -webkit-transform: translateX(1rem);
      transform: translateX(1rem); }

.down-scroll {
  font-size: 3rem;
  position: absolute;
  right: 7rem;
  bottom: 5rem;
  z-index: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .down-scroll__text {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 1rem 0;
    margin-right: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .down-scroll__text:hover {
      color: #fff;
      border-bottom: 2px solid #fff; }
  .down-scroll__link {
    color: #fff;
    -webkit-animation: pulse 1s ease-in;
    animation: pulse 1s ease-in;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

.top-scroll {
  font-size: 2rem;
  position: absolute;
  background-color: #29323c;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  padding: 0 2rem;
  color: #141414;
  top: 80%;
  right: 0rem;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .top-scroll__text {
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 0 2rem;
    text-transform: uppercase; }
  .top-scroll__link {
    color: #fff;
    -webkit-animation: pulse 1s ease-in;
    animation: pulse 1s ease-in;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

.footer {
  position: relative;
  background-image: linear-gradient(60deg, #29323c, rgba(20, 20, 20, 0.8)), url(../img/hero.jpg);
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  height: 100vh; }
  .footer:focus {
    outline: none; }
  @media (max-width: 37.5em) {
    .footer {
      height: 120rem; } }
  .footer__heading {
    color: #fff;
    font-size: 2.3rem;
    margin-bottom: 2rem;
    font-weight: 600; }
  .footer__img {
    width: 8rem;
    margin: 0 auto;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s; }
    .footer__img:hover {
      opacity: 0.7; }
  .footer__icon {
    font-size: 4rem;
    margin: 0 1rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer; }
    .footer__icon:hover {
      color: #ff7730; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  .footer__link:hover {
    color: #28b485; }
  .footer__border {
    border-bottom: 3px solid #fff; }
    @media (max-width: 37.5em) {
      .footer__border {
        border: none; } }
  .footer__nav {
    margin-bottom: 6rem; }
  .footer__copy {
    color: #fff;
    margin-top: 3rem;
    font-size: 2rem; }
  .footer__list {
    list-style: none; }
  .footer__icon {
    display: inline-block; }
    .footer__icon:hover {
      -webkit-transform: rotate(5deg) scale(1.3);
      transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    font-size: 2rem; }

.row {
  max-width: 128rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 90rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 8rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 8rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 8rem * 2) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 8rem * 2) / 3) + 8rem); }
  .row .col-1-of-4 {
    width: calc((100% - 8rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 8rem * 3) / 4) + 8rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 8rem * 3) / 4) + 2 * 8rem); }

.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(60deg, #29323c, rgba(20, 20, 20, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .header:focus {
    outline: none; }

.section-about {
  position: relative;
  background-color: #29323c;
  background-image: linear-gradient(60deg, #29323c, rgba(20, 20, 20, 0.8)), url(../img/about-bg.jpeg);
  background-size: cover;
  height: 100vh; }
  .section-about:focus {
    outline: none; }
  @media (max-width: 56.25em) {
    .section-about {
      height: 80rem; } }
  @media (max-width: 37.5em) {
    .section-about {
      height: 100vh; } }
  .section-about .about-text {
    margin-top: 50%; }
    @media (max-width: 56.25em) {
      .section-about .about-text {
        margin-top: 8rem; } }
    @media (max-width: 37.5em) {
      .section-about .about-text {
        width: 100%;
        text-align: center;
        margin-top: 8rem; } }

@media (max-width: 37.5em) {
  .about-image {
    display: none; } }

.section-services {
  position: relative;
  background-color: #333a6b;
  background-size: cover;
  height: 100vh; }
  .section-services:focus {
    outline: none; }

.section-work {
  position: relative;
  background-image: linear-gradient(60deg, #29323c, rgba(20, 20, 20, 0.8)), url(../img/about-bg.jpeg);
  background-size: cover;
  height: 128vh; }
  .section-work:focus {
    outline: none; }
  @media (max-width: 75em) {
    .section-work {
      height: 77rem; } }
  @media (max-width: 56.25em) {
    .section-work {
      height: 73rem; } }
  @media (max-width: 37.5em) {
    .section-work {
      height: 41rem; } }
  .section-work__head {
    position: absolute;
    top: 5rem;
    left: 5rem; }
