//-------------------
// ABOUT SECTION
// ------------------

.section-about {
  &:focus {
    outline: none;
  }
  position: relative;
  background-color: $color-grey;

  background-image: linear-gradient(
      60deg,
      rgba($color-grey, 1),
      rgba($color-dark, 0.8)
    ),
    url(../img/about-bg.jpeg);
  background-size: cover;

  height: 100vh;

  @include respond(tab-port) {
    height: 80rem;
  }

  @include respond(phone) {
    height: 100vh;
  }

  .about-text {
    margin-top: 50%;

    @include respond(tab-port) {
      margin-top: 8rem;
    }

    @include respond(phone) {
      width: 100%;
      text-align: center;
      margin-top: 8rem;
    }
  }
}

.about-image {
  @include respond(phone) {
    display: none;
  }
}

//-------------------
// SERVICES SECTION
// ------------------

.section-services {
  &:focus {
    outline: none;
  }
  position: relative;
  background-color: $color-dark-blue;
  background-size: cover;
  height: 100vh;
}

//-------------------
// WORK SECTION
// ------------------

.section-work {
  &:focus {
    outline: none;
  }
  position: relative;
  background-image: linear-gradient(
      60deg,
      rgba($color-grey, 1),
      rgba($color-dark, 0.8)
    ),
    url(../img/about-bg.jpeg);
  background-size: cover;
  height: 128vh;

  @include respond(tab-land) {
    // margin-top: 8rem;
    height: 77rem;
  }

  @include respond(tab-port) {
    // margin-top: 8rem;
    height: 73rem;
  }

  @include respond(phone) {
    // margin-top: 8rem;
    height: 41rem;
  }

  &__head {
    position: absolute;
    top: 5rem;
    left: 5rem;
  }
}
