// -----------------
// MENU BUTTON
// -----------------

.menu-bg {
  position: fixed;
  top: 3.4rem;
  right: 8rem;
  width: 6rem;
  height: 6rem;
  background-color: #fff;
  font-size: 1.8rem;
  z-index: 500;

  @include respond(phone) {
    top: 2.4rem;
    width: 5.7rem;
    height: 5.7rem;
  }
}

.menu-btn {
  position: fixed;
  top: 4rem;
  right: 4rem;
  cursor: pointer;
  z-index: 1000;
  @include easeOut;

  .btn-line {
    width: 3rem;
    height: 3px;
    background-color: $color-white;
    @include easeOut;

    @include respond(phone) {
      width: 4rem;
      height: 3px;
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &.close {
    transform: rotate(180deg);

    .btn-line {
      // LINE 1
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      // LINE 2
      &:nth-child(2) {
        opacity: 0;
      }

      // LINE 3
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

// -----------------
// MENU OVERLAY
// -----------------

.menu {
  position: fixed;
  top: 20%;
  right: 0;
  width: 250px;
  z-index: 800;
  visibility: hidden;

  @include respond(phone) {
    top: 0;
    right: 0;
  }

  &.show {
    visibility: visible;
  }

  &-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
    height: 50vh;
    margin: 0;
    padding: 0;
    background-color: $color-dark;
    list-style: none;
    transform: translateX(60rem);
    backface-visibility: hidden;
    box-shadow: -1rem 0rem 6rem $shadow-4;
    z-index: 2000;
    @include easeOut;

    @include respond(tab-land) {
      width: 250px;
    }

    @include respond(tab-port) {
      width: 250px;
    }

    @include respond(phone) {
      height: 100vh;
      width: 250px;
    }

    &.show {
      transform: translateX(0);
    }
  }

  .nav-item {
    // transform: translateX(60rem);
    transform: translate3d(0, 600, 0);
    @include easeOut;

    &:not(:last-child) {
      border-bottom: 1px solid $color-grey;
      margin-bottom: 2rem;
      padding-bottom: 2rem;
    }

    &.show {
      // transform: translateY(0);
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $color-primary;
    }
  }

  .nav-link {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 3rem;
    color: $color-white;
    @include easeOut;

    @include respond(phone) {
      font-size: 3.4rem;
    }

    &:hover {
      color: $color-secondary-dark;
      transform: translateX(1rem);
    }
  }
}

// @for $x from 1 through 5 {
//   .nav-item:nth-child(#{$x}) {
//     transition-delay: $x * 0.1s;
//   }
// }

.down-scroll {
  font-size: 3rem;
  position: absolute;
  right: 7rem;
  bottom: 5rem;
  z-index: 500;
  display: flex;
  align-items: center;

  &__text {
    color: $color-white;
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 1rem 0;
    margin-right: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: all 0.2s;

    &:hover {
      color: $color-white;
      border-bottom: 2px solid $color-white;
    }
  }

  &__link {
    color: $color-white;
    animation: pulse 1s ease-in;
    animation-iteration-count: infinite;
  }
}

// SCROLL TO TOP

.top-scroll {
  font-size: 2rem;
  position: absolute;
  background-color: $color-grey;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 0 0.5rem 2rem $shadow-2;
  padding: 0 2rem;
  color: $color-dark;
  top: 80%;
  right: 0rem;
  z-index: 1000;
  display: flex;
  align-items: center;

  &__text {
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 0 2rem;
    text-transform: uppercase;
  }

  &__link {
    color: $color-white;
    animation: pulse 1s ease-in;
    animation-iteration-count: infinite;
  }
}
