.composition {
  margin-top: 50%;
  position: relative;
  padding: 3rem;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem $shadow-2;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;

    &--p1 {
      transform: rotate(-5deg);
      filter: grayscale(85%);
    }

    &--p2 {
      // border: 3px solid green;
      transform: rotate(5deg);
      filter: grayscale(30%);
      right: 14rem;
      top: 0;
    }

    &--p3 {
      outline: 1.5rem solid $color-secondary-dark;
      transform: rotate(15deg);
      margin: 0 auto;
      right: 5rem;
      // top: -2rem;
    }
  }
}
