.gallery {
  // width: 100%;
  // height: 100%;

  &__container {
    @include centering;
  }
  &__link {
    text-decoration: none;
    outline: none;
  }

  &__img {
    height: 40%;
    width: 33%;
    transition: all 0.1s;
    // outline-offset: 1rem;

    &:hover {
      outline: 10px solid $color-secondary-dark;
      transform: scale(1.15) rotate(5deg);
    }
  }
}
