// Basic Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border: transparent;
}

html {
  font-size: 62.5% !important; //1rem = 10px;  10px/16px = 62.5%

  @include respond(tab-land) {
    font-size: 56.25% !important; //1rem = 9px, 8/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50% !important; //1rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 60% !important; //1rem = 12px, 12/16 = 75%
  }
}

body {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.overlay {
  position: fixed;
  background-color: rgba($color-black, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 700;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;

  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.3);
  }

  &.show {
    visibility: visible;
    opacity: 1;
  }
}
